@charset "UTF-8";

body{
    background: rgb(20, 20, 97);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

section{
    margin: 50px auto;
    padding: 10px 0px;
    background: white;
    width: 800px
}

.input-tarefa{
    display: block;
    width: 500px;
    height: 25px;
    padding: 0px 5px;
    margin: 20px auto;
}

.btn-tarefa{
    display: block;
    margin: 10px auto;
    width: 500px;
    height: 35px;
    color: white;
    background: rgb(15, 15, 99);
}

.btn-tarefa:hover{
    background: rgb(39, 39, 143);
}

.tarefas{
    display: block;
    margin: 10px auto;
    list-style: none;
}
