@charset "UTF-8";

body{
    background: rgb(20, 20, 97);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}


section{
    margin: 0 auto;
    padding: 10px 0px;
    text-align: center;
    background: white;
    width: 70vw;
}
