@charset "UTF-8";

body{
    background: rgb(20, 20, 97);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin: 40px 0px;
    color: black;
}

section{
    width: 700px;
    height: 350px;
    background-color: white;
    display: block;
    margin: 40px auto;
}

label{
    display: block;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px 5px;
}

input{
    width: 680px;
    height: 30px;
    margin: 20px 5px;
    padding: 7px 5px;
    border: 2px solid rgb(20, 20, 97);
}

button{
    width: 650px;
    height: 40px;
    display: block;
    margin: 10px auto;
    background-color: rgb(20, 20, 97);
    color: #fff;
}