<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo</title>
</head>
<body>
    
    <section>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint repellat voluptates eveniet, quo quibusdam eum tenetur facilis odit quaerat voluptatibus, natus dolore quos explicabo doloribus dolor libero nihil aliquid eligendi!</h1>
    </section>
    
    <script src="./assets/js/bundle.js"></script>

</body>
</html>