* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.5rem;
  background-color: #1c7ed6;
}

.container {
  width: 60rem;
  margin: 2.2rem auto;
  font-weight: 500;
  background-color: #f1f3f5;
  padding: 3rem 5rem 2rem 1rem;
  border-radius: 10px;
}

.area__titulo {
  text-align: center;
  margin-bottom: 2rem;
  color: #1c7ed6;
}

h2 {
  color: #2f9e44;
  margin-bottom: 1.2rem;
}

.area__input {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-bottom: 1.8rem;
  font-size: 1.5rem;
}

input, select {
  padding: 0.9rem;
  border: none;
  border-radius: 10px;
}

input:focus, select:focus {
  border: none;
  outline: 3px solid #1c7ed6;
}

.area__termos-uso {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 2.5rem;
}

input[type='checkbox'] {
  width: 1.2rem;
  height: 1.2rem;
}

.btn__finalizar-compra {
  display: block;
  width: 40rem;
  padding: 1rem;
  margin: 2rem auto;
  text-align: center;
  border: none;
  background-color: #2f9e44;
  color: #f1f3f5;
  font-weight: bolder;
  border-radius: 100vw;
}

.btn__finalizar-compra:hover {
  background-color: #f1f3f5;
  color: #2f9e44;
  outline: 4px solid #2f9e44;
}