* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  color: #343a40;
  line-height: 1;
  background-color: #343a40;
}

.container {
  width: 50rem;
  background-color: lightgray;
  margin: 20rem auto;
  padding: 10rem;
}

.input__area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.input__area input {
  width: 50%;
  font-size: 1.5rem;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
} 

.buttons:last-child {
  margin-bottom: 2rem;
}

.button {
  padding: 1.8rem;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 2rem;
  margin-bottom: 2em;
}

.aumentar {
  background-color: green;
}

.diminuir {
  background-color: red;
}

.passos {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.buttons__secondary {
  width: 20rem;
  margin: 0 auto;
  padding: 0.4rem;
}

.reset {
  display: block;
  background-color: blue;
}

.undo {
  background-color: greenyellow;
}

.history__container {
  display: flex;
  gap: 1rem;
}

.history{
  font-size: 1.2rem;
}